/* TAGS */

/* CLASSES */
.home {
    width: 60vw;
    margin-top: 2vh;
    margin-right: 1em;
    padding: 0.5em 2em;
    background-color: #F5F5F5;
    text-align: justify;
    border-radius: 1em;
}

.fieldPesquisa {
    width: 65%;
    margin-right: 5%;
}

.selectCategory {
    width: 30%;
}

.buttonPesquisar {
    width: 100%;
}

.productsList {
    width: 100%;
    margin-top: 3vh;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons button {
    margin: 2vh 2vh 2vh 2vh;
}
