<div class="content">
    <div class="home">
        <form fromControlName="">

            <mat-form-field class="fieldPesquisaClass">
                <input matInput type="text" name="fieldPesquisa" placeholder="Produto">
            </mat-form-field>

            <mat-form-field class="selectCategoryClass">
                <mat-select>
                    <mat-option *ngFor="let category of categories" [value]="category.value">
                        {{category.viewValue}}
                      </mat-option>
                </mat-select>
            </mat-form-field>

            <br>
        
            <button mat-raised-button class="buttonPesquisar">Pesquisar</button>
            
        </form>
    </div>
</div>
