/* Tags */
button {
    background-color: #D1D1D1;
    color: black;
    transition: 0.5s;
}

button:hover {
    background-color: #4D6FB3;
    color: #F5F5F5;
}

/* Classes */
.not-found {
    width: 60vw;
    margin-top: 2vh;
    margin-right: 1em;
    padding: 0.5em 2em;
    background-color: #F5F5F5;
    text-align: center;
    border-radius: 1em;
}

.button-container {
    display: flex;
    justify-content: center;
}
